In [1]:
import pandas as pd
import numpy as np

# SLE_juniors

In [45]:
SLE = pd.read_csv('SLE_juniors.csv', sep = ';')

In [46]:
# Remove newline characters from column names
SLE.columns = SLE.columns.str.replace('\n', '')

In [47]:
# select columns with different dtype
int_cols = SLE.select_dtypes(include=['int64']).columns.tolist()
float_cols = SLE.select_dtypes(include=['float']).columns.tolist()
object_cols = SLE.select_dtypes(include=['object']).columns.tolist()

In [49]:
# changing for float columns (they are int, but with a few missed values)
for x in float_cols:
    # Mode in the column
    mode_x = SLE[x].mode()[0]
    
    # Replace NaN values in column with mode of the column
    SLE.loc[SLE[x].isna(), x] = mode_x
    
    # Convert the data type of column  to int
    SLE[x] = SLE[x].astype('int')

In [50]:
# Convert the data type of column to float
for x in object_cols:
    if (x != 'Full name'):
        #print (x, ' - ', SLE[x].isna().sum())
        # replace comma with period in column 
        SLE[x] = SLE[x].str.replace(',', '.')
        SLE[x] = SLE[x].astype(float)

In [51]:
# delete float columns with many NaN values
float_cols = SLE.select_dtypes(include=['float']).columns.tolist()
for x in float_cols:
    #message = 'We have deleted next parameters : '
    if (SLE[x].isna().sum() != 0):
        SLE = SLE.drop(columns=[x])
        message += (x + ' ')
print (message)

We have deleted next parameters :

In [52]:
SLE.dtypes.value_counts()

int64      216
float64     15
object       1
dtype: int64

In [54]:
# select columns with different dtype
int_cols = SLE.select_dtypes(include=['int64']).columns.tolist()
float_cols = SLE.select_dtypes(include=['float']).columns.tolist()
object_cols = SLE.select_dtypes(include=['object']).columns.tolist()

# Print the float and object columns
print('int = ', len(int_cols))
print('float = ', float_cols)
print('object = ', object_cols)

int =  216
float =  ['BMI', 'PRE (currently)', 'CYC (total dose in grams)', 'SF-36 (mental)', 'SF-36  (physical)', 'LupusQol', 'Er (in debut)', 'Er  (currently)', 'Leu  (in debut)', 'Leu (currently)', 'Complement c3 (g/l)', 'Complement C4 (g/l)', 'Anti-dsDNA (in debut)', 'Anti-dsDNA (currently)', 'CIRS (severity index)']
object =  ['Full name']

In [55]:
SLE.to_csv('SLE_juniors_fixed.csv', index=False, sep = ';')

# SLA_adults

In [50]:
SLE_adults = pd.read_csv('SLE_adults.csv', sep = ';')

In [51]:
# Remove newline characters from column names
SLE_adults.columns = SLE_adults.columns.str.replace('\n', '')

In [70]:
SLE_adults.dtypes.value_counts()

int64      212
float64     13
object       1
dtype: int64

In [53]:
# select columns with different dtype
int_cols_adults = SLE_adults.select_dtypes(include=['int64']).columns.tolist()
float_cols_adults = SLE_adults.select_dtypes(include=['float']).columns.tolist()
object_cols_adults = SLE_adults.select_dtypes(include=['object']).columns.tolist()

In [54]:
for x in float_cols_adults:
    print (x, ' - ', SLE_adults[x].isna().sum())

PRE (in the debut of SLE)  -  1
GFR <50%  -  1
Hb (in debut)  -  24
Tr (in debut)  -  24
ESR (in debut)  -  24
ANF (in debut)  -  13
Z-score Total  -  57
Heredity for CVD  -  3

In [55]:
# delete float columns with many missed values 
for x in float_cols_adults:
    if SLE_adults[x].isna().sum() > 15:
        SLE_adults = SLE_adults.drop(columns=[x])

In [56]:
# select float types after drop 
float_cols_adults = SLE_adults.select_dtypes(include=['float']).columns.tolist()

# fill missed values by median or mode and change type of column to int 
for x in float_cols_adults:
    if (x == 'PRE (in the debut of SLE)') or (x == 'ANF (in debut)'):
        # Median in the column
        median_x = SLE_adults[x].median()
        SLE_adults.loc[SLE_adults[x].isna(), x] = median_x
    else:
        # Mode in the column
        mode_x = SLE_adults[x].mode()[0]
        SLE_adults.loc[SLE_adults[x].isna(), x] = mode_x
    
    # Convert the data type of column  to int
    SLE_adults[x] = SLE_adults[x].astype('int')

In [57]:
# select columns with object dtype
object_cols_adults = SLE_adults.select_dtypes(include=['object']).columns.tolist()

for x in object_cols_adults:
    print (x, ' - ', SLE_adults[x].isna().sum())

Full name  -  0
Weight  -  0
BMI  -  0
PRE (currently)  -  0
CYC (total dose in grams)  -  0
SF-36 (mental)  -  4
SF-36  (physical)  -  4
LupusQol  -  5
Er (in debut)  -  25
Er  (currently)  -  1
Leu  (in debut)  -  24
Leu (currently)  -  0
Complement c3 (g/l)  -  0
Complement C4 (g/l)  -  0
Anti-dsDNA (in debut)  -  17
Anti-dsDNA (currently)  -  0
IFN-Î±  -  19
TBS  L1-4  -  34
HDL  -  17
LDL  -  17
AC  -  17
CIRS (severity index)  -  0

In [68]:
# select columns with object dtype
object_cols_adults = SLE_adults.select_dtypes(include=['object']).columns.tolist()

for x in object_cols_adults:
    
    sum_nan_for_column = SLE_adults[x].isna().sum()
    
    if (sum_nan_for_column >= 17):
        SLE_adults = SLE_adults.drop(columns=[x])
        
    elif (sum_nan_for_column != 0):
        # convert column 'A' to numeric data type
        SLE_adults[x] = SLE_adults[x].str.replace(',', '.')
        SLE_adults[x] = SLE_adults[x].astype(float)

        # calculate median of column 'A'
        median_x = np.nanmedian(SLE_adults[x])

        # fill missing float values with median
        SLE_adults.loc[SLE_adults[x].isna(), x] = median_x
        
    elif (x != 'Full name'):
        # convert column 'A' to numeric data type
        SLE_adults[x] = SLE_adults[x].str.replace(',', '.')
        SLE_adults[x] = SLE_adults[x].astype(float)

<ipython-input-68-5adf24e77adc>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SLE_adults[x] = SLE_adults[x].str.replace(',', '.')
<ipython-input-68-5adf24e77adc>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SLE_adults[x] = SLE_adults[x].astype(float)
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [71]:
# select columns with different dtype
int_cols = SLE_adults.select_dtypes(include=['int64']).columns.tolist()
float_cols = SLE_adults.select_dtypes(include=['float']).columns.tolist()
object_cols = SLE_adults.select_dtypes(include=['object']).columns.tolist()

# Print the float and object columns
print('int = ', len(int_cols))
print('float = ', float_cols)
print('object = ', object_cols)

int =  212
float =  ['Weight', 'BMI', 'PRE (currently)', 'CYC (total dose in grams)', 'SF-36 (mental)', 'SF-36  (physical)', 'LupusQol', 'Er  (currently)', 'Leu (currently)', 'Complement c3 (g/l)', 'Complement C4 (g/l)', 'Anti-dsDNA (currently)', 'CIRS (severity index)']
object =  ['Full name']

In [72]:
SLE_adults.to_csv('SLE_adults_fixed.csv', index=False, sep = ';')