In [18]:
import pandas as pd
import numpy as np

In [19]:
SLE = pd.read_csv('SLE_juniors.csv', sep = ';')

In [20]:
SLE

,Full name,DOB,Age,Gender,card number,Age of SLE debut,Age at diagnosis,Disease duration,Heredity,Disability,...,Malignant tumors,Steroid osteoporosis,TBS L1-4,HDL,LDL,AC,Heredity for CVD,CCI,CiRS (general),CIRS (severity index)
0,Малиновская Татьяна Борисовна,27556,46,0,6035,9,32,14,1,0.0,...,0,1,NaN,NaN,NaN,NaN,1,2,7,"1,75"
1,Кукушкина Наталья Александровна,25572,51,0,8496,12,28,23,0,0.0,...,0,1,NaN,"2,72","2,91","1,4",0,3,6,"1,5"
2,Кострова Мария Сергеевна,29550,40,0,25556,7,20,20,0,0.0,...,1,1,NaN,"2,39","3,19","1,7",0,4,7,"1,17"
3,Савельева Валентина Александровна,31247,36,0,32511,15,16,20,1,0.0,...,0,0,NaN,NaN,NaN,NaN,0,1,3,3
4,Сиверс Надежда Андреевна,31913,34,0,36464,14,14,20,0,1.0,...,0,1,"1,404","2,33","2,61","0,7",0,1,5,"2,5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Соловьев Константин Романович,37960,18,1,348570,12,13,5,0,1.0,...,0,0,"1,367","1,73","1,91","0,3",0,3,7,"2,33"
68,Олеринская Николина Ивановна,37228,20,0,356315,12,17,3,0,0.0,...,0,0,NaN,"2,25","4,3","1,8",0,1,6,2
69,Новохатько Вера Сргеевна,37749,19,0,357846,14,14,5,1,1.0,...,0,0,NaN,"1,22","3,48",2,0,1,6,2
70,Климентьева Анастасия Владимировна,38167,18,0,359653,15,15,3,0,1.0,...,0,1,NaN,2,"2,46","1,1",0,3,5,"2,5"
71,Прокопенко Карина Александровна,38209,18,0,361240,17,17,1,0,1.0,...,0,0,NaN,"2,68","5,31","1,9",0,3,9,"2,25"

In [23]:
# Remove newline characters from column names
SLE.columns = SLE.columns.str.replace('\n', '')

# Mode in the column
mode_value_Disability = SLE['Disability'].mode()[0]
mode_value_Smoking = SLE['Smoking'].mode()[0]
mode_value_ANF = SLE['ANF (in debut)'].mode()[0]

# Replace NaN values in column with 0
SLE.loc[SLE['Disability'].isna(), 'Disability'] = mode_value_Disability
SLE.loc[SLE['Smoking'].isna(), 'Smoking'] = mode_value_Smoking
SLE.loc[SLE['ANF (in debut)'].isna(), 'ANF (in debut)'] = mode_value_ANF

# Convert the data type of column  to int
SLE['Disability'] = SLE['Disability'].astype(int)
SLE['Smoking'] = SLE['Smoking'].astype(int)
SLE['ANF (in debut)'] = SLE['ANF (in debut)'].astype(int)

# Convert the data type of column to float
for x in object_cols:
    if (x != 'Full name'):
        #print (x, ' - ', SLE[x].isna().sum())
        # replace comma with period in column 
        SLE[x] = SLE[x].str.replace(',', '.')
        SLE[x] = SLE[x].astype(float)

In [31]:
SLE.dtypes.value_counts()

int64      216
float64     20
object       1
dtype: int64

In [32]:
# select columns with floast and object dtype
float_cols = SLE.select_dtypes(include=['float']).columns
object_cols = SLE.select_dtypes(include=['object']).columns.tolist()

# Print the float and object columns
print(float_cols)
print(object_cols)

Index(['BMI', 'PRE (currently)', 'CYC (total dose in grams)', 'SF-36 (mental)',
       'SF-36  (physical)', 'LupusQol', 'Er (in debut)', 'Er  (currently)',
       'Leu  (in debut)', 'Leu (currently)', 'Complement c3 (g/l)',
       'Complement C4 (g/l)', 'Anti-dsDNA (in debut)',
       'Anti-dsDNA (currently)', 'IFN-α', 'TBS  L1-4', 'HDL', 'LDL', 'AC',
       'CIRS (severity index)'],
      dtype='object')
['Full name']

In [9]:
SLE[object_cols]

,Full name,Height,Weight,BMI,PRE (currently),CYC (total dose in grams),SF-36 (mental),SF-36 (physical),LupusQol,Er (in debut),...,Complement c3 (g/l),Complement C4 (g/l),Anti-dsDNA (in debut),Anti-dsDNA (currently),IFN-α,TBS L1-4,HDL,LDL,AC,CIRS (severity index)
0,Малиновская Татьяна Борисовна,152,62,"26,8",10,12,"36,6","42,7","77,2","4,49",...,"2,01","0,3","48,5","4,2","3,16",NaN,NaN,NaN,NaN,"1,75"
1,Кукушкина Наталья Александровна,162,78,"29,7",20,100,"48,6","35,5","76,5","4,17",...,"1,03","0,19","8,2",60,"5,02",NaN,"2,72","2,91","1,4","1,5"
2,Кострова Мария Сергеевна,158,80,32,10,26,"44,1","53,9","85,3","4,22",...,"0,94","0,11","150,7",130,"4,44",NaN,"2,39","3,19","1,7","1,17"
3,Савельева Валентина Александровна,159,58,"22,9",5,0,"38,3","42,9","57,1","5,1",...,"0,57","0,04",67,0,"3,19",NaN,NaN,NaN,NaN,3
4,Сиверс Надежда Андреевна,164,62,23,5,3,"46,2","28,1","60,3","4,26",...,"0,86","0,2",44,"10,4",NaN,"1,404","2,33","2,61","0,7","2,5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Соловьев Константин Романович,179,75,"23,4",0,6,"51,1","52,7",97,"3,66",...,"0,58","0,13",65,"29,7",NaN,"1,367","1,73","1,91","0,3","2,33"
68,Олеринская Николина Ивановна,163,63,"23,7",10,0,"33,1","47,2","70,6","4,18",...,"0,87","0,17","12,3","5,8",NaN,NaN,"2,25","4,3","1,8",2
69,Новохатько Вера Сргеевна,"1,7",62,"24,7",0,0,"39,9","55,2","71,3","4,22",...,"0,6","0,08",175,"103,2",NaN,NaN,"1,22","3,48",2,2
70,Климентьева Анастасия Владимировна,164,67,"24,9",5,0,"48,1","44,1","84,1","3,27",...,"0,72","0,19",122,"6,8",NaN,NaN,2,"2,46","1,1","2,5"
71,Прокопенко Карина Александровна,162,73,"27,8",50,0,51,"43,5","89,7","2,94",...,"0,72","0,14",77,"48,6",NaN,NaN,"2,68","5,31","1,9","2,25"

In [33]:
for x in float_cols:
    print (x, ' - ', SLE[x].isna().sum())

BMI  -  0
PRE (currently)  -  0
CYC (total dose in grams)  -  0
SF-36 (mental)  -  0
SF-36  (physical)  -  0
LupusQol  -  0
Er (in debut)  -  0
Er  (currently)  -  0
Leu  (in debut)  -  0
Leu (currently)  -  0
Complement c3 (g/l)  -  0
Complement C4 (g/l)  -  0
Anti-dsDNA (in debut)  -  0
Anti-dsDNA (currently)  -  0
IFN-α  -  23
TBS  L1-4  -  28
HDL  -  32
LDL  -  31
AC  -  30
CIRS (severity index)  -  0